<div class="clearfix">
  Customisation by <a href="https://github.com/prabakaranfresh" target="_blank" rel="norefferer noopener">Prabakaran Raja</a>
</div>

<script>
  var CustomPageDOMSrc = document.getElementById('custom-wormhole');
  
  var AVENGERS_MEMEBERS = [{
      name: 'Captain America',
      originalName: 'Steve Rogers',
      linkName: 'captain-america',
      designation: 'member',
      desc: 'Member from the Origin'
    },{
      name: 'Iron Man',
      originalName: 'Anthony Stark (Tony Stark)',
      linkName: 'iron-man',
      designation: 'member',
      desc: 'Member from the Origin'
    },{
      name: 'Thor Odinson',
      originalName: 'Thor Odinson',
      linkName: 'thor-odinson',
      designation: 'member',
      desc: 'Member from the Origin, God of Lightning. Originally from Asgard'
    },{
      name: 'Hulk',
      originalName: 'Dr. Robert Bruce Banner',
      linkName: 'hulk',
      designation: 'member',
      desc: 'Member from the Origin, Strongest Avenger'
    },{
      name: 'Black Widow',
      originalName: 'Natasha Romanoff',
      linkName: 'black-widow',
      designation: 'member',
      desc: 'Member from the Origin. Also a member of Shield'
    },{
      name: 'Hawkeye',
      originalName: 'Clinton Francis "Clint" Barton',
      linkName: 'hawkeye',
      designation: 'member',
      desc: 'Member from the Origin. Also a member of Shield'
    },{
      name: 'SpiderMan',
      originalName: 'Peter Parker',
      linkName: 'spider-man',
      designation: 'member',
      desc: 'New Member'
    },{
      name: 'Black Panther',
      originalName: 'T’Challa',
      linkName: 'black-panther',
      designation: 'member',
      desc: 'King of Wakanda'
    }
  ];
  
  function customPages(ctx, next) {
    var hashPath = ctx.state.path.split('#!');
    if (hashPath.length === 1) {
      DOC_BODY.classList.remove('custom-page');
      CustomPageDOMSrc.innerHTML = '';
      next();
      return;
    }
  
    var customUrl = hashPath.pop().split('/');
    if (customUrl[0] === 'team') {
      renderTeam();
    } 
    else if(customUrl[0] == 'member') {
      renderTeamMember(customUrl[1]);
    }
    else {
      DOC_BODY.classList.remove('custom-page');
      CustomPageDOMSrc.innerHTML = '';
      next();
    }
  }
  
  function renderTeam() {
    DOC_BODY.classList.add('custom-page');
    var tmplContent = document.getElementById('team-template').innerHTML;
    var tmpl = Handlebars.compile(tmplContent);
    CustomPageDOMSrc.innerHTML = tmpl({
      members: AVENGERS_MEMEBERS
    });

    document.getElementsByTagName('html')[0].scrollTop = 0;
  }
  
  function renderTeamMember(member) {
    DOC_BODY.classList.remove('custom-page');
    DOC_BODY.setAttribute('page', 'custom');
    CustomPageDOMSrc.innerHTML = '';

    var tmplContent = document.getElementById('team-member-template').innerHTML;
    var tmpl = Handlebars.compile(tmplContent);

    var Avenger = AVENGERS_MEMEBERS.filter(function(avngr){
      return avngr.linkName === member
    })[0];

    PAGE_MAIN.innerHTML = tmpl(Avenger);

    fetch(BASE_ASSET_URL + '/profiles/' + member + '.html', {
      method: 'GET',
      mode: 'cors'
    }).then(function(res) { 
      res.text().then(function(data) {
        $('#detailed-description').html(data);
      })
    })
  }
  
  page('*', customPages);
</script>