/* ---------- Avengers Theme Starts Here --------- */

#team-banner {
  background: url(https://wallpaperaccess.com/full/1347986.jpg) no-repeat;
  height: 500px;
  background-size: 1200px;
  background-position: top right;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 112px;
  box-sizing: border-box;

}

#team-banner a,
#team-banner a:hover {
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

#team-banner a:hover {
  transform: scale(1.2);
}

#team-banner h2 {
  font-size: 42px;
  color: white
}

#team-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 24px;
  padding: 24px;
}

#team-page .member {
  padding: 24px;
  background: var(--full-dark);
}

#team-page .img-container {
  width: 190px;
}

#team-page img {
  height: 150px;
}

#team-page h2 {
  color: var(--text-color);
}

#close-custom-page,
#close-custom-page:hover {
  font-size: 2em;
  position: absolute;
  text-decoration: none;
  transition: 0.2 linear;
  top: 16px;
  right: 28px;
}

#close-custom-page:hover {
  transform: scale(1.1);
}

#custom-wormhole {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px;
  box-sizing: border-box;
  color: var(--text-color);
  background: var(--dark2);
}

body.custom-page #layout-container>* {
  display: none;
}

body.custom-page #layout-container #custom-wormhole {
  display: block;
}

#team-page .member {
  text-decoration: none;
}

#member-profile-container {
  padding: 34px;
  display: flex;
}

#member-profile-container #info-container {
  flex: 1;
}

#member-profile-container .results-loader {
  display: block;
}

#member-profile-container h2 {
  color: var(--text-color);
  font-size: 40px;
}

#member-profile-container .quote {
  transform: skew(-10deg);
  font-size: 30px;
  padding: 16px;
  opacity: 0.9;
  background: var(--dark2);
}

#member-profile-container #img-container {
  max-width: 40%;
}

#member-profile-container #img-container img {
  max-width: 100%;
}

body.custom-page {
  background: var(--dark2) !important;
}

/* ---------- Avengers Theme Ends Here ------------ */